.Categories{
    margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
.Categories__content{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}
.Categories__nav{
    li{
        list-style: none;
      .link__style{
        text-decoration: none;
        color: black;
      }
       
    }}
    .product__list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;

    }
}